
html, body {
height: 100%;
}
*{
	margin:0;
	padding:0; 
	background-color: #000;
}
.contenedor{

	width: 100%;
	max-width: 1500px;
}

#principal{
  width: 1100px;
}

#imgPrincipal{
  margin-left: 30%;
  margin-top: 40px;

  width: 450px;
  height: 250px;
}
.fotosN{
	background: #fff;
    border-radius: 10px;
    margin: 0 40px 40px;
    padding: 30px;
}
#zoeHis{
  background-color: inherit;
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}

.daddy{

	  float: right;
    width: 420px
}



.fotosN{

	  background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0,0,0,.04);
    margin: 0 40px 40px;
}


.fotosN{

	 background: #fff;
    border-radius: 10px;
    margin: 0 40px 40px;
    padding: 30px;
}






